
<h1>Detalle de partida</h1>

<h3>Nombre de la partida: {{name}}</h3>
<h3>Estado de la partida: {{state}}</h3>
<h3>Fecha de creación: {{creationDate}}</h3>

<h2>Jugadas realizadas:</h2>

<h3>Jugada1</h3>
<h3>Jugada2</h3>
